html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

.row.sketch{
  width:100vw;
  text-align: center;
  font-size: 38px;
  overflow: hidden;
}

.row.vid{
  width:100vw;
  background-color: #fff;
  position:absolute;
  bottom:0;
  right:0;
}

.column {
  float:left;
  width:50vw;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #e9e9e9;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.maskVid{
  width: 36vw;
  height: 36vw;
  border-radius: 18vw;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);  
  
  position:relative;
  margin: 0 auto;
  margin-top:5vh;
  margin-bottom:5vh;
}

iframe{
  width:130vw;
  height:30vh;
  overflow: hidden;
  background-color: #000;
}

#wheelFeed-mobile{
  position:absolute;
  left: -10px;
  top: -40px;
}

#armWheelFeed-mobile{
  position:absolute;
  right:-10px;
  top: -40px;
}